/* For Tablets */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }

  .message-wrapper img {
    width: 40%;
  }
  .profile {
        width: 50%;
        margin-bottom: 50px;
    }
}

/* For Smartphones */
@media all and (max-width: 670px) {
  .header-right{
    display:none;
  }
  .menu-icon{
    display:block;
  }
  .lesson {
    width: 100%;
  }
    
  footer {
    text-align: center;
  }
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }  
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .message-wrapper img {
    width: 50%;
  }
  .profile{
        width: 100%;
        margin-top: 10px;
   }
  .text-contents-eks1 {
        width: 80%;
        display: inline-block;
        margin-top: 0px;
        font-size: 15px;
        color: #aaa8ac;
    }
}
