* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;
}
.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.big {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 50%;
    opacity: 0.9;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    animation: big 2s;
    animation-fill-mode: forwards;
}

@keyframes big {
    from {
        top: 0;
    }

    to {
        top: 55px
    }
}

.bu p {
    margin: 5px 40px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    opacity: 0.9;
    text-shadow: 3px 3px 2px #000000;
}

.bigheader {
  font: bold 20px white Arial;
}

.top-wrapper {
  padding: 100px 0 100px 0;
  background-image: url(http://g.pbw.ilkom.unej.ac.id/182410103048/050959.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Add CSS for menu-icon */



.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  padding: 0 5% 0 5%;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
  margin-top: 40px;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message-wrapper img {
  width: 30%;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 150px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

/*=================================*/
.lesson-icon img{
    border-radius: 50%;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    border: 8px solid rgba(0,0,0,.7);
    box-shadow: 0px 0px 40px 10px rgba(0,0,0,.1);
}

.lesson-icon p {
  position: absolute;
  top: 100%;
  width: 100%;
  color: gray;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 30px;
  font-size: 15px;
  color: #b3aeb5;
}

/* ekstra 1 */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
}
 
.clear {
    clear: left;
}

.container-eks1 {
    width: 100%;        
    margin:  auto;
}


.profile-wrapper-eks1 {

    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}

.heading-eks1 {
    padding-top: 30px;
    padding-bottom: 80px;
    color: #5f5d60;
    font-family: 'Righteous',cursive;
    text-align: center;
}

.bot-border{
    border-bottom: 2px solid #5f5d60;
    border-radius: 20px;
    width: 2%;
    margin: auto;
/*     margin-top: -15px; */
}

.profile{
    float: left;
    width: 20%;    
}
.profile-icon img{
    border-radius: 50%;
    border: 4px solid #5f5d60;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,.2);
}

.profile-name{
  font-family: 'Righteous',cursive;
}
.profile-asal{
    font-size: 15px;
/*     margin-top: -10px; */
    color: sandybrown;

}

.text-contents-eks1 {
    width: 70%;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    color: #b3aeb5;
    
}

/* batas ekstra 1 */
